@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .animate-gradient-x {
        animation: gradient-x 5s ease infinite;
        background-size: 400% 400%;
    }

    .animate-gradient-fast {
        animation: gradient-x 2s ease infinite;
        background-size: 200% 200%;
    }

    .btn-primary {
        @apply rounded-lg border-2 border-b-4 border-indigo-700 bg-indigo-500 px-3 py-2 text-sm text-white font-semibold capitalize transition-all duration-100 shadow-md hover:shadow-lg hover:scale-[1.03] active:shadow-md active:translate-y-0.5 active:scale-[0.97] active:border-b-2;
    }

    .btn-secondary {
        @apply box-content rounded-lg border-2 border-b-4 border-gray-600 bg-transparent px-3 py-2 text-sm font-semibold capitalize transition-all duration-100 shadow-md hover:shadow-lg hover:scale-[1.03] active:shadow-md active:translate-y-0.5 active:scale-[0.97] active:border-b-2;
    }
}

@keyframes gradient-x {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* https: //github.com/tailwindlabs/tailwindcss-intellisense/issues/227 */